@media (min-width: 600px) {
  .container {
    display: flex;
  }

  .one {
    border: 1px solid black;
    width: 200px;
    flex-grow: 1;
    order: 1;
  }

  .two {
    border: 1px solid black;
    min-width: 100px;
    flex-grow: 1;
    order: 2;
  }

  .three {
    border: 1px solid black;
    width: 300px;
    flex-grow: 1;
    order: 3;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  
  .one {
    border: 1px solid black;
  }

  .two {
    border: 1px solid black;
  }

  .three {
    border: 1px solid black;
  }
}